/* novelCalendar */

.dayContainer {
  background-color: black;
  width: 530px;
  display: flex;
  align-items: center;
  margin: 0px 10px 10px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* basicCalendar */

.weekContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* shared between calendars */

.pageContainer {
  display: flex;
  margin-top: 10px;
}
main {
flex: 1;
}
aside {
  max-width: 200px;
  background-color: white;
  border-radius: 10px;
  height: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dragTitle {
  padding: 4px;
  margin: 0px;
}

.dragEventContainer {
  height: 456px;
  overflow-y: scroll;
}

.asideText {
  padding: 4px;
  margin-bottom: 0px;
}

.countdown {
  margin-top: 0px;
}

.dragEvent {
  font-weight: bold;
  background-color: #4477CC;
  color: white;
  padding: 4px;
  border-radius: 5px;
  margin: 4px;
}

.calendarContainer {
  display: flex;
  flex-wrap: wrap;
  height: 720px;
  width: 1070px;
  margin-right: 20px;
  flex-direction: column;
}

.dayTitle {
  padding: 8px;
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: 0px;
  align-self: flex-end;
}

table {
  border-collapse: collapse;
  background-color: white;
  table-layout: fixed;
}

.dayContainer table {
  
  width: 530px;
}

th, td {
  border: 1px solid black;
  border-right: 3px solid black;
  text-align: left;
  overflow: hidden;
}

th {
  color: white;
  background-color: black;
  padding: 8px 0px 0px 2px;
  font-weight: initial;
}

td {
  height: 30px;
  width: 162px;
  padding: 0px 0px 0px 2px;
  vertical-align: top;
}

tr:nth-child(odd) {
  border-bottom: 3px solid black;
}

.weekend td {
  font-size: small;
}

.weekendDayHeader {
  font-weight: bold !important;
}

/* Introduction page CSS
The button, container, and other element styles could be reused. */
body, html { /* Can be changed or removed - puts elements in the middle and makes background grey *_*/
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Display", sans-serif;
  color: #333;
  background-color: #f7f7f7;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style for each page section */
.page { display: none; }
.page.active { display: block; }

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s;
  margin: 20px;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #555;
}

input[type="checkbox"] {
  margin-right: 10px;
}

label, input {
  font-size: 16px;
}

form input {
  width: calc(100% - 22px);
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Style for the number memory task */
.number-sequence {
  font-size: 2em;
  margin-bottom: 20px;
  height: 1.5em;
}

.recall-section {
  margin-bottom: 20px;
}

.recall-input {
  width: 30px;
  font-size: 1.5em;
  text-align: center;
  margin: 5px;
}


/* Style for the simple calculations page */
.task {
  margin-bottom: 10px;
}

.answer {
  width: 50px;
  font-size: 1em;
  text-align: center;
}

.results {
  margin-top: 20px;
}

.result {
  margin-bottom: 10px;
}

.dropArea {
  border: 2px dashed #0087F7;
  border-radius: 20px;
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 30px;
  margin: 20px 0;
  display: block;
  box-sizing: border-box;
}

.dropArea.active {
  display: block; /* Show when active */
}

.dropArea.hover {
  border-color: #005BB5;
  background-color: #f0f8ff;
}