.calendarContainer {
    display: flex;
    flex-wrap: wrap;
    max-height: 800px;
    max-width: 900px;
    flex-direction: column;
}

.dayContainer {
    background-color: black;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0px 20px 20px 0px;
}

.dayTitle {
    padding: 8px;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0px;
    align-self: flex-end;
    font-family: "Noto Sans Display", sans-serif;
}

table {
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
    border-right: 3px solid black;
    padding: 8px;
    text-align: left;
    font-family: "Noto Sans Display", sans-serif;
}

th {
    color: white;
    background-color: black;
    padding: 8px 0px 0px 2px;
    font-weight: initial;
}

td {
    padding: 0px 0px 8px 2px;
}

tr:nth-child(odd) {
    border-bottom: 3px solid black;
}

.weekday th {
    width: 165px;
}

.weekend th {
    width: 80px;
}

.weekendDayHeader {
    font-weight: bold;
}
