/* novelCalendar.html */

.calendarContainer {
    display: flex;
    flex-wrap: wrap;
    max-height: 800px;
    max-width: 900px;
    flex-direction: column;
}

.dayContainer {
    background-color: black;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0px 20px 20px 0px;
}

.dayTitle {
    padding: 8px;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0px;
    align-self: flex-end;
    font-family: "Noto Sans Display", sans-serif;
}

.dayContainer table {
    border-collapse: collapse;
    background-color: white;
}

.dayContainer th, td {
    border: 1px solid black;
    border-right: 3px solid black;
    padding: 8px;
    text-align: left;
    font-family: "Noto Sans Display", sans-serif;
}

.dayContainer th {
    color: white;
    background-color: black;
    padding: 8px 0px 0px 2px;
    font-weight: initial;
}

.dayContainer td {
    padding: 0px 0px 8px 2px;
}

.dayContainer tr:nth-child(odd) {
    border-bottom: 3px solid black;
}

.weekday th {
    width: 165px;
}

.weekend th {
    width: 80px;
}

.weekendDayHeader {
    font-weight: bold !important;
}

/* Introduction page CSS
The button, container, and other element styles could be reused. */
body, html { /* Can be changed or removed - puts elements in the middle and makes background grey *_*/
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f7f7;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Style for each page section */
.page { display: none; }
.page.active { display: block; }

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s;
  margin: 20px;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #555;
}

input[type="checkbox"] {
  margin-right: 10px;
}

label, input {
  font-size: 16px;
}

form input {
  width: calc(100% - 22px);
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Style for the number memory task */
.number-sequence {
  font-size: 2em;
  margin-bottom: 20px;
  height: 1.5em;
}

.recall-section {
  margin-bottom: 20px;
}

.recall-input {
  width: 30px;
  font-size: 1.5em;
  text-align: center;
  margin: 5px;
}


/* Style for the simple calculations page */
.task {
  margin-bottom: 10px;
}

.answer {
  width: 50px;
  font-size: 1em;
  text-align: center;
}

.results {
  margin-top: 20px;
}

.result {
  margin-bottom: 10px;
}